.tailorsnotes {
	border: 1px solid;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1.2fr;
	position: relative;
}

#goback {
	position: absolute;
	z-index: 3;
	height: 30px;
	width: 30px;
	left: 10px;
	top: 10px;
	background-image: url(../Library/Icons/arrow-left.svg);
	background-repeat: no-repeat;
	background-size: 15px;
	background-position: center;
	/* border: 1px solid; */
}

.notes {
	font-size: 10px;
	border-left: 1px solid;
	overflow: scroll;
	padding-top: 20px;
	box-shadow: -5px -1px 5px #888;
}
.notes > div:nth-of-type(3) {
	padding-left: 10px;
	padding-top: 10px;
}

.note-info {
	padding: 20px;
	padding-top: 0px;
	/* border: 1px solid; */
}
.note-info > div {
	display: inline-flex;
	padding-top: 10px;
}
.note-info > div > div:nth-of-type(1) {
	font-weight: bold;
}
.note-info > div > div:nth-of-type(2) {
	padding-left: 10px;
	font-size: 12px;
	/* font-family: cursive; */
	/* font-weight: bold; */
}

.tables {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	/* border: 1px solid; */
	justify-items: center;
	text-align: center;
	overflow: scroll;
	margin: 10px;
}

.header {
	font-weight: bold;
	padding: 10px;
	padding-bottom: 30px;
}

.row {
	/* border: 1px solid; */
	width: 70px;
}

.color-row > div {
	/* border: 1px solid; */
	height: 30px;
	width: 80px;
}
.color-row > div:nth-of-type(1) {
	height: 14px;
}
.color-row > div > div {
	/* border: 1px solid; */
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	/* padding-top: 12px; */
	padding-left: 14px;
	height: 10px;
}
.color-row > div > div > div {
	border: 1px solid;
	width: 8px;
	height: 8px;
}
